<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cpuramss.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <cpuramss.Properties.Settings>
            <setting name="opaklık" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="oyunmodu" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="arkaplan" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="konum" serializeAs="String">
                <value>950, 485</value>
            </setting>
            <setting name="TransparanKey" serializeAs="String">
                <value>Transparent</value>
            </setting>
        </cpuramss.Properties.Settings>
    </userSettings>
</configuration>
